.hero{
display: flex;

}
 .left-h{
    padding: 2rem;
    padding-top: 1rem;
    flex:3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.right-h{
    flex:1;
    position: relative;
    background-color: #f48915;
}

.the-best-add{
    margin-top: 4rem;
    background-color: #363d42;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.the-best-add> span{
    z-index: 2;
}
.the-best-add>div{
position: absolute;
background-color: #f48915;
width: 5.4rem;
height: 80%;
left: 8px;
border-radius:3rem;
}

.hero-text{
    display: flex;

    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
}

.hero-text>div:nth-of-type(3){
font-size: 1rem;
font-weight: 200 ;
text-transform: none;
letter-spacing: 1px;
width: 80%;
}
.figures{
    display: flex;
    gap: 2rem;

}

.figures>div{
    display: flex;
    flex-direction: colums;
}
.figures>div>span:nth-of-type(1){

    color: white;
    font-size: 2rem;
}

.figures>div>span:nth-of-type(2){
color :#363d42;
text-transform : uppercase;


}

.btn{
    background-color: white ;
    padding: 0.5rem;
    font-weight: bold;
    border : 4px solid transparent;

}
 .btn:hover{
cursor:pointer;
}

.hero-buttons{
display: flex;
gap: 1rem;
font-weight: normal;
}

.hero-buttons>:nth-child(1){
    color: white;
    background-color: #f48915;
    width: 8rem;
} 
.heart-rate>img{
    width: 3rem;
}

.hero-buttons>:nth-child(2){
    color: white;
    background-color: transparent;
    width: 8rem;
    border: 2px solid #f48915;
} 

.right-h> .btn{
position: absolute;
right: 3rem;
top: 2rem;
color:black;
}

.heart-rate{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #363d42;
    width : 6rem;
    padding: 1rem;
    align-items: start;
    border-radius: 5px;
    position: absolute;
    right: 4rem;
    top: 7rem;
}
.hero-image{
    position: absolute;
    top: 12rem;
    right: 8rem;
    width: 23rem;
    z-index: 2;

}

.hero-image-back{
    position: absolute;
    top: 4rem;
    right: 18rem;
z-index: 1;
   width: 15rem;
}
.calories{
display: flex;
gap: 2rem;
background-color: #656566;
position: absolute;
top:32rem;
margin-top: 10px;
right: 26rem;
border-radius: 5px;
padding: 1rem;
width: 16rem;

}
.calories>img{
    width: 3rem;
}
.calories>div{
  display: flex;
flex-direction: column;
justify-content: space-between;
}
.calories >div >:nth-child(1){

    color: #363d42 ;
}

.calories >div >:nth-child(2){
    color: white;
    font-weight: 1.5rem;
} 