.header{
display: flex;
justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 3rem;
}
.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}
 .header-menu ul a{
    cursor: pointer;
}
.header-menu>a:hover{
    color: #f48915;
    cursor: pointer;
}
.header-menu> a{
    list-style: none;
    color: white;
    text-decoration: none;

}
.header-menu> a:hover{
    color: #f48915;
    cursor: pointer;
}
