.Join{
    display: flex;
    gap: 10rem;
    padding: 0 2rem;

}
.left-j{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.left-j>hr{
    position: absolute;
    width: 12.5rem;
    border: 2px solid #f48915;

    border-radius: 20%;
    margin :-10px 0;
}
.left-j >div{
    display: flex;
    gap: 1rem;
}

.right-j{
display: flex;
justify-content: center;
align-items: flex-end;

}
.email-container{
    display: flex;
    gap:3rem;
    background-color: #9c9c9c;
    padding: 1rem 2rem;

}
.email-container>input{
    background-color: transparent;
    border:none;
    outline: none;
    color: white;
}
::placeholder{
    color: white;
} 
.btn-btn-join{
    background-color: #f48915;
    color: white;
    border: none;
    cursor: pointer;
}

